<p class="textright">
	<span class="title_of_p">אודות</span>
סיר ז'אן פול דה-לה-ריליישן אמר פעם, "לכל סיר יש מכסה". <br />קל להתנחם במשפטים קלישאתיים כמו זה (כי הרי ברור שהם נכונים), בעודך מהנהנת בחביבות לעוד דייט כושל, שברור לך שייגמר במרתון של "האנטומיה של גריי", בבית. לבד. <br />
גם קל לחלוק גלידה של B&J עם איזה חברה שמתייפחת על זה שעוד פעם זרקו אותה, והאביר על הסוס הלבן נראה רחוק מתמיד.
ונורא פשוט לשבת על איזה כוס בירה ולהנהנן כשחבר שלך מתאר לך את הבחורה החדשה שאיתה הוא הולך לצאת, והרי רק לפי הסיפור, ברור לך שאין מצב שסטודנט מבצלאל שמבלה את הסופ"שים בחומוס בשייח' ג'ראח, יחזיק עם חצאית מתנפנפת מהרי השומרון, יותר משבוע.. למרות הכוונות הטובות של שניהם.<br /><br />

אז למה שלא תעשה מעשה?<br />
מי יכול לעזור לחברים'שך יותר טוב ממך? ימי רביעי בגלינה? "אין שני ליום שני" באומן? <br />הגיסה שלא מפסיקה לשדך? השכנה של החבר שמתפללת על זיווג טוב בשבילו?  לא!! אתה!<br />
חברים, הם בעלי אחוזי ההצלחה הגבוהים ביותר במציאת שידוכים. 
<br /><br />
בעזרת האלגוריתם של <a href="http://www.dudesetmeup.com/">dude set me up</a>, תוכל למצוא זיווגים הולמים לחברים הטובים שלך! <br />
אספנו בשבילך מהפייסבוק את כל החברים, הרווקים והרווקות והצלבנו אותם אחד עם השני.<br />
ההצלבה נעשית תוך התחשבות בשלום בית- הורדנו חברים אשר נמצאים במערכות יחסים.<br /> שימוש גם בחוק השבע (גיל הגבר/7+2)- כדי להגביר אחוזי התאמה (ולמנוע שימוש לרעה באפליקציה).<br /> וכן, מניעת שידוכים בין קרובי משפחה (יש דברים שלא צריך להסביר).<br />
לך, רק נשאר ללחוץ על הכפתור, ולומר אם כן או לא.  <br /><br />

בקיצור, התחבר למערכת, שדך את החברים, ואל תשכח לשלוח את הטוקסידו לניקוי יבש :)
</p>

<p class="textleft">
	<span class="title_of_p">צור קשר ודאחקות</span>
המיזם עלה ע"י שלושה חבר'ה יוצאי סיירות מובחרת בצה"ל אשר שמו לעצמם כמטרה להנחיל את ערכי הסיירת בחברים פחות מוצלחים. שלושת החברים, ילידי קיבוץ בצפון, סתם נו יאללה.. <br /><br />
האפליקציה פותחה במסגרת "יומיים פיתוח" שהתקיימו בהשראת ה- <a href="http://www.fbworldhack.com/" target="_blank"> Facebook World Hack</a> (אירועי פיתוח חובקי עולם של פייסבוק).<br /><br />
אז אמנם לא היו מאות משתתפים (אחד), והמשאבים היו מעטים (בלי מהנדסים מפייסבוק) והכיבוד היה דל (ויטמיצ'יק בגיל 22 זה נוראי?) אבל מה שכן, יצאה אחלה אפליקציה. ואפילו מאוד. <br /> <br />

בסיוע של קהילת <a href="http://www.github.com/" target="_blank">הקוד הפתוח</a>, אנשי <a href="http://www.freenode.net/" target="_blank">הקודקדים החופשיים</a> הצלחתי להרים האפליקציה, שנכתבה ב-Ruby on Rails, תוך יומיים של עבודה ועם "הרבה אהבה".  <br /> <br />

מענות, הארות, הערות ובאגים - yochze @ gmail . com (צמצמו רווחים).

</p>
<% content_for :head do %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-34929801-1']);
      _gaq.push(['_setDomainName', 'dudesetmeup.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

</script>
<% end %>