
.textright {
	font: 11pt arial;
	color: #393939;
	text-shadow: 0px -1px white;
	text-align: justify;
	width: 500px;
	display: inline;
	float: right;
}

.textleft {
	font: 11pt arial;
	color: #393939;
	text-shadow: 0px -1px white;
	text-align: justify;
	width: 400px;	
	float: left;
	display: inline;
}

.title_of_p {
	font: 11pt arial;
	color: #b95959;
	font-weight: bold;
	text-shadow: 0px -1px white;
	display: block;
	letter-spacing: 0.1em;
	padding-top: 14px;
	padding-bottom: 14px;}

	a {
  color: #8b8b8b;
  text-decoration: none;
  font: 10pt arial;
  border-bottom: 1px solid #b95959;
}

a:hover {
  color: black;
}